# Pandas

- [Pandas GitHub](https://github.com/pandas-dev/pandas)
- [Pandas Website](https://pandas.pydata.org/)


Pandas e uma biblioteca desenvolvida para manipulacao e analise de dados implementada na lingua de programacao Python. 

A biblioteca oferece rapidez, flexibilidade, e um design expressivo para que os trabalhos com estrutura de dados sejam faceis e intuitivo. O nome pandas e uma conjugacao dos termos anglosaxonico "Panel" e "Data". 


Permite analise com:
- Dados com valores em falta
- Series temporais
- Agrupar, inserir, eliminar, converter, adicionar, indexar, selecionar, etc. dados
- Permitindo a leitura de dados em iversos formatos
- etc.

## Importar Pandas

In [2]:
# importatr pandas com um diminutivo "pd"
# "pd"  ---> para agilizar a escrita, em vez de escrever --> pandas, escreve-se --> pd
import pandas as pd

#### Pandas DataFrame

In [2]:
#
pais = {
        'pais': ['pt', 'stp', 'an', 'cv', 'gb', 'mo', 'br'], 
        'populacao': [11, 0.20, 30, .5, 2, 30, 200]
        }

In [3]:
{'ama':"amma"}

{'ama': 'amma'}

In [5]:
pais.keys()

dict_keys(['pais', 'populacao'])

In [6]:
pais.values()

dict_values([['pt', 'stp', 'an', 'cv', 'gb', 'mo', 'br'], [11, 0.2, 30, 0.5, 2, 30, 200]])

In [8]:
pd_pais = pd.DataFrame(pais)
pd_pais

  pais  populacao
0   pt       11.0
1  stp        0.2
2   an       30.0
3   cv        0.4
4   gb        2.0
5   mo       30.0
6   br      200.0

In [17]:
pd_pais['pais'].str.upper() #.str.title()

0     PT
1    STP
2     AN
3     CV
4     GB
5     MO
6     BR
Name: pais, dtype: object

In [22]:
pd_pais[pd_pais.pais == 'cv']

  pais  populacao
3   cv        0.4

In [7]:
timor = pd.DataFrame({
                        'pais': ['tm'], 
                        'populacao': [1.2]
                        })

NameError: name 'pd' is not defined

In [33]:
timor

  pais  populacao
0   tm          5

In [32]:
pd_pais.append(timor)

  pais  populacao
0   pt       11.0
1  stp        0.2
2   an       30.0
3   cv        0.4
4   gb        2.0
5   mo       30.0
6   br      200.0
0   tm        5.0

In [34]:
lei = pd.DataFrame(['lei'])

In [35]:

lei

     0
0  lei

In [36]:
pd_pais.append(lei)

  pais  populacao    0
0   pt       11.0  NaN
1  stp        0.2  NaN
2   an       30.0  NaN
3   cv        0.4  NaN
4   gb        2.0  NaN
5   mo       30.0  NaN
6   br      200.0  NaN
0  NaN        NaN  lei

#### Localizacao
- loc   - [linha (numerico ou texto), coluna (texto)]
- iloc  - [linha (numerico), coluna (numerico)]

In [52]:
pd_pais.loc[[1,3,5], ['pais', 'populacao']]

  pais  populacao
1  stp        0.2
3   cv        0.4
5   mo       30.0

In [51]:
pd_pais.iloc[2:5, [0,1]]

  pais  populacao
2   an       30.0
3   cv        0.4
4   gb        2.0

In [50]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Leitura de dados (formato csv)

In [64]:
df = pd.read_csv('../a1_webscraping/Population (2020).csv')
df

,paises,regioes,continentes,url,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,India,Southern Asia,Asia,https://www.worldometers.info/world-population...,1.380004e+09,0.99,13586631.0,464.0,2973190.0,-532687.0,2.2,28.0,35.0,17.70
1,Pakistan,Southern Asia,Asia,https://www.worldometers.info/world-population...,2.208923e+08,2.00,4327022.0,287.0,770880.0,-233379.0,3.6,23.0,35.0,2.83
2,Bangladesh,Southern Asia,Asia,https://www.worldometers.info/world-population...,1.646894e+08,1.01,1643222.0,1265.0,130170.0,-369501.0,2.1,28.0,39.0,2.11
3,Iran,Southern Asia,Asia,https://www.worldometers.info/world-population...,8.399295e+07,1.30,1079043.0,52.0,1628550.0,-55000.0,2.2,32.0,76.0,1.08
4,Afghanistan,Southern Asia,Asia,https://www.worldometers.info/world-population...,3.892835e+07,2.33,886592.0,60.0,652860.0,-62920.0,4.6,18.0,25.0,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Kiribati,Micronesia,Oceania,https://www.worldometers.info/world-population...,1.194490e+05,1.57,1843.0,147.0,810.0,-800.0,3.6,23.0,57.0,0.00
219,Northern Mariana Islands,Micronesia,Oceania,https://www.worldometers.info/world-population...,5.755900e+04,0.60,343.0,125.0,460.0,NaN,NaN,NaN,88.0,0.00
220,Marshall Islands,Micronesia,Oceania,https://www.worldometers.info/world-population...,5.919000e+04,0.68,399.0,329.0,180.0,NaN,NaN,NaN,70.0,0.00
221,Palau,Micronesia,Oceania,https://www.worldometers.info/world-population...,1.809400e+04,0.48,86.0,39.0,460.0,NaN,NaN,NaN,NaN,0.00
222,Nauru,Micronesia,Oceania,https://www.worldometers.info/world-population...,1.082400e+04,0.63,68.0,541.0,20.0,NaN,NaN,NaN,NaN,0.00

In [68]:
df.set_index('paises',inplace=True)

In [73]:
df.loc['Angola']['url']

'https://www.worldometers.info/world-population/angola-population/'

In [74]:
cplp_paises = [
                'Angola', 'Sao Tome & Principe', 'Cabo Verde', 'Mozambique', 
                'Guinea-Bissau', 'Portugal', 'Brazil'
            ]

In [75]:
df.loc[cplp_paises]

,regioes,continentes,url,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
paises,,,,,,,,,,,,,
Angola,Middle Africa,Africa,https://www.worldometers.info/world-population...,32866272.0,3.27,1040977.0,26.0,1246700.0,6413.0,5.6,17.0,67.0,0.42
Sao Tome & Principe,Middle Africa,Africa,https://www.worldometers.info/world-population...,219159.0,1.91,4103.0,228.0,960.0,-1680.0,4.4,19.0,74.0,0.00
Cabo Verde,Western Africa,Africa,https://www.worldometers.info/world-population...,555987.0,1.10,6052.0,138.0,4030.0,-1342.0,2.3,28.0,68.0,0.01
Mozambique,Eastern Africa,Africa,https://www.worldometers.info/world-population...,31255435.0,2.93,889399.0,40.0,786380.0,-5000.0,4.9,18.0,38.0,0.40
Guinea-Bissau,Western Africa,Africa,https://www.worldometers.info/world-population...,1968001.0,2.45,47079.0,70.0,28120.0,-1399.0,4.5,19.0,45.0,0.03
Portugal,Southern Europe,Europe,https://www.worldometers.info/world-population...,10196709.0,-0.29,-29478.0,111.0,91590.0,-6000.0,1.3,46.0,66.0,0.13
Brazil,South America,Latin America and the Caribbean,https://www.worldometers.info/world-population...,212559417.0,0.72,1509890.0,25.0,8358140.0,21200.0,1.7,33.0,88.0,2.73

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 223 entries, India to Nauru
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   regioes            223 non-null    object
 1   continentes        223 non-null    object
 2   url                223 non-null    object
 3   Population (2020)  223 non-null    float64
 4   Yearly Change      223 non-null    float64
 5   Net Change         223 non-null    float64
 6   Density (P/Km²)    223 non-null    float64
 7   Land Area (Km²)    223 non-null    float64
 8   Migrants (net)     194 non-null    float64
 9   Fert. Rate         194 non-null    float64
 10  Med. Age           194 non-null    float64
 11  Urban Pop %        210 non-null    float64
 12  World Share        223 non-null    float64
dtypes: float64(10), object(3)
memory usage: 34.4+ KB

In [81]:
df.describe()

,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
count,2.230000e+02,223.000000,2.230000e+02,223.000000,2.230000e+02,194.000000,194.000000,194.000000,210.000000,223.000000
mean,3.449543e+07,1.133318,3.521152e+05,492.869955,5.727546e+05,-180.438144,2.690206,30.613402,59.657143,0.442466
std,1.384989e+08,1.065304,1.144308e+06,2392.073588,1.724628e+06,125484.499203,1.258116,9.112994,23.449969,1.776843
min,8.010000e+02,-2.470000,-3.838400e+05,0.000000,0.000000e+00,-653249.000000,1.100000,15.000000,0.000000,0.000000
25%,5.919855e+05,0.350000,5.040000e+02,35.000000,5.575000e+03,-11139.750000,1.700000,22.000000,43.000000,0.010000
50%,5.850342e+06,1.000000,4.637500e+04,95.000000,8.746000e+04,-1000.000000,2.300000,30.000000,61.500000,0.080000
75%,2.261501e+07,1.860000,2.830390e+05,239.500000,4.179250e+05,9488.250000,3.600000,39.000000,79.000000,0.290000
max,1.439324e+09,3.840000,1.358663e+07,26337.000000,1.637687e+07,954806.000000,7.000000,48.000000,100.000000,18.470000

In [83]:
df.select_dtypes('object').describe()

,regioes,continentes,url
count,223,223,223
unique,22,6,223
top,Caribbean,Africa,https://www.worldometers.info/world-population...
freq,23,56,1

In [84]:
df.regioes.unique()

array(['Southern Asia', 'Eastern Asia', 'South-Eastern Asia',
       'Central Asia', 'Western Asia', 'Western Africa', 'Eastern Africa',
       'Northern Africa', 'Southern Africa', 'Middle Africa',
       'Western Europe', 'Eastern Europe', 'Northern Europe',
       'Southern Europe', 'South America', 'Central America', 'Caribbean',
       'Northern America', 'Australia & New Zealand', 'Melanesia',
       'Polynesia', 'Micronesia'], dtype=object)

In [87]:
df.select_dtypes([float, int])

,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
paises,,,,,,,,,,
India,1.380004e+09,0.99,13586631.0,464.0,2973190.0,-532687.0,2.2,28.0,35.0,17.70
Pakistan,2.208923e+08,2.00,4327022.0,287.0,770880.0,-233379.0,3.6,23.0,35.0,2.83
Bangladesh,1.646894e+08,1.01,1643222.0,1265.0,130170.0,-369501.0,2.1,28.0,39.0,2.11
Iran,8.399295e+07,1.30,1079043.0,52.0,1628550.0,-55000.0,2.2,32.0,76.0,1.08
Afghanistan,3.892835e+07,2.33,886592.0,60.0,652860.0,-62920.0,4.6,18.0,25.0,0.50
...,...,...,...,...,...,...,...,...,...,...
Kiribati,1.194490e+05,1.57,1843.0,147.0,810.0,-800.0,3.6,23.0,57.0,0.00
Northern Mariana Islands,5.755900e+04,0.60,343.0,125.0,460.0,NaN,NaN,NaN,88.0,0.00
Marshall Islands,5.919000e+04,0.68,399.0,329.0,180.0,NaN,NaN,NaN,70.0,0.00
Palau,1.809400e+04,0.48,86.0,39.0,460.0,NaN,NaN,NaN,NaN,0.00
Nauru,1.082400e+04,0.63,68.0,541.0,20.0,NaN,NaN,NaN,NaN,0.00

In [98]:
df.groupby(['continentes'])[['Population (2020)']].sum()

                                 Population (2020)
continentes
Africa                                1.249877e+09
Asia                                  4.640617e+09
Europe                                7.369270e+08
Latin America and the Caribbean       6.536452e+08
Northern America                      3.688639e+08
Oceania                               4.255155e+07

In [96]:
df.groupby(['continentes', 'regioes'])[['Population (2020)', 'Urban Pop %', 'World Share']].sum()

                                                         Population (2020)  \
continentes                     regioes
Africa                          Eastern Africa                4.454056e+08
                                Middle Africa                 9.003373e+07
                                Northern Africa               2.462325e+08
                                Southern Africa               6.634347e+07
                                Western Africa                4.018613e+08
Asia                            Central Asia                  7.433895e+07
                                Eastern Asia                  1.678090e+09
                                South-Eastern Asia            6.681824e+08
                                Southern Asia                 1.940370e+09
                                Western Asia                  2.796368e+08
Europe                          Eastern Europe                2.823042e+08
                                Northern Europe               1.062612e+08
                                Southern Europe               1.522152e+08
                                Western Europe                1.961463e+08
Latin America and the Caribbean Caribbean                     4.321521e+07
                                Central America               1.796702e+08
                                South America                 4.307598e+08
Northern America                Northern America              3.688639e+08
Oceania                         Australia & New Zealand       3.032212e+07
                                Melanesia                     1.112300e+07
                                Micronesia                    4.338910e+05
                                Polynesia                     6.725470e+05

                                                         Urban Pop %  \
continentes                     regioes
Africa                          Eastern Africa                 808.0
                                Middle Africa                  493.0
                                Northern Africa                450.0
                                Southern Africa                226.0
                                Western Africa                 783.0
Asia                            Central Asia                   224.0
                                Eastern Asia                   444.0
                                South-Eastern Asia             394.0
                                Southern Asia                  330.0
                                Western Asia                  1275.0
Europe                          Eastern Europe                 582.0
                                Northern Europe                919.0
                                Southern Europe                989.0
                                Western Europe                 582.0
Latin America and the Caribbean Caribbean                     1153.0
                                Central America                517.0
                                South America                  960.0
Northern America                Northern America               348.0
Oceania                         Australia & New Zealand        173.0
                                Melanesia                      191.0
                                Micronesia                     310.0
                                Polynesia                      377.0

                                                         World Share
continentes                     regioes
Africa                          Eastern Africa                  5.72
                                Middle Africa                   1.15
                                Northern Africa                 3.15
                                Southern Africa                 0.85
                                Western Africa                  5.16
Asia                            Central Asia                    0.95
                                Eastern Asia                   21.54
                                South-Eastern Asia              8.59
                                Southern Asia                  24.88
                                Western Asia                    3.60
Europe                          Eastern Europe                  3.62
                                Northern Europe                 1.34
                                Southern Europe                 1.96
                                Western Europe                  2.52
Latin America and the Caribbean Caribbean                       0.56
                                Central America                 2.31
                                South America                   5.52
Northern America                Northern America                4.73
Oceania                         Australia & New Zealand         0.39
                                Melanesia                       0.13
                                Micronesia                      0.00
                                Polynesia                       0.00

In [113]:
def funcao_louca(valor):
    return sum(valor)/99999

In [109]:
import numpy as np

In [114]:
df.groupby(['continentes', 'regioes'])[['Population (2020)']].agg({'sum', 'mean', 'std', np.mean, funcao_louca})

                                                        Population (2020)  \
                                                                      std
continentes                     regioes
Africa                          Eastern Africa               2.830424e+07
                                Middle Africa                1.254803e+07
                                Northern Africa              3.465581e+07
                                Southern Africa              2.848235e+07
                                Western Africa               4.800880e+07
Asia                            Central Asia                 1.159098e+07
                                Eastern Asia                 4.985090e+08
                                South-Eastern Asia           8.225952e+07
                                Southern Asia                4.432648e+08
                                Western Asia                 2.076260e+07
Europe                          Eastern Europe               4.532364e+07
                                Northern Europe              1.819532e+07
                                Southern Europe              1.775324e+07
                                Western Europe               3.080158e+07
Latin America and the Caribbean Caribbean                    3.780017e+06
                                Central America              4.332309e+07
                                South America                5.500495e+07
Northern America                Northern America             1.601792e+08
Oceania                         Australia & New Zealand      1.462131e+07
                                Melanesia                    3.766839e+06
                                Micronesia                   6.105278e+04
                                Polynesia                    1.044762e+05

                                                                       \
                                                                 mean
continentes                     regioes
Africa                          Eastern Africa           2.227028e+07
                                Middle Africa            1.125422e+07
                                Northern Africa          3.517607e+07
                                Southern Africa          1.658587e+07
                                Western Africa           2.363890e+07
Asia                            Central Asia             1.486779e+07
                                Eastern Asia             2.097612e+08
                                South-Eastern Asia       6.681824e+07
                                Southern Asia            2.155966e+08
                                Western Asia             1.553538e+07
Europe                          Eastern Europe           3.136714e+07
                                Northern Europe          8.173942e+06
                                Southern Europe          9.513452e+06
                                Western Europe           2.179404e+07
Latin America and the Caribbean Caribbean                1.878922e+06
                                Central America          2.245878e+07
                                South America            3.076855e+07
Northern America                Northern America         9.221596e+07
Oceania                         Australia & New Zealand  1.516106e+07
                                Melanesia                2.224599e+06
                                Micronesia               7.231517e+04
                                Polynesia                8.406838e+04

                                                                       \
                                                                 mean
continentes                     regioes
Africa                          Eastern Africa           2.227028e+07
                                Middle Africa            1.125422e+07
                                Northern Africa          3.517607e+07
                                Southern Africa          1.658587e+07
                                Western Africa           2.363890e+07
Asia                            Central Asia             1.486779e+07
                                Eastern Asia             2.097612e+08
                                South-Eastern Asia       6.681824e+07
                                Southern Asia            2.155966e+08
                                Western Asia             1.553538e+07
Europe                          Eastern Europe           3.136714e+07
                                Northern Europe          8.173942e+06
                                Southern Europe          9.513452e+06
                                Western Europe           2.179404e+07
Latin America and the Caribbean Caribbean                1.878922e+06
                                Central America          2.245878e+07
                                South America            3.076855e+07
Northern America                Northern America         9.221596e+07
Oceania                         Australia & New Zealand  1.516106e+07
                                Melanesia                2.224599e+06
                                Micronesia               7.231517e+04
                                Polynesia                8.406838e+04

                                                                       \
                                                                  sum
continentes                     regioes
Africa                          Eastern Africa           4.454056e+08
                                Middle Africa            9.003373e+07
                                Northern Africa          2.462325e+08
                                Southern Africa          6.634347e+07
                                Western Africa           4.018613e+08
Asia                            Central Asia             7.433895e+07
                                Eastern Asia             1.678090e+09
                                South-Eastern Asia       6.681824e+08
                                Southern Asia            1.940370e+09
                                Western Asia             2.796368e+08
Europe                          Eastern Europe           2.823042e+08
                                Northern Europe          1.062612e+08
                                Southern Europe          1.522152e+08
                                Western Europe           1.961463e+08
Latin America and the Caribbean Caribbean                4.321521e+07
                                Central America          1.796702e+08
                                South America            4.307598e+08
Northern America                Northern America         3.688639e+08
Oceania                         Australia & New Zealand  3.032212e+07
                                Melanesia                1.112300e+07
                                Micronesia               4.338910e+05
                                Polynesia                6.725470e+05


                                                         funcao_louca
continentes                     regioes
Africa                          Eastern Africa            4454.100601
                                Middle Africa              900.346313
                                Northern Africa           2462.349803
                                Southern Africa            663.441344
                                Western Africa            4018.652727
Asia                            Central Asia               743.396934
                                Eastern Asia             16781.064001
                                South-Eastern Asia        6681.890429
                                Southern Asia            19403.890159
                                Western Asia              2796.395504
Europe                          Eastern Europe            2823.070731
                                Northern Europe           1062.623116
                                Southern Europe           1522.167522
                                Western Europe            1961.482775
Latin America and the Caribbean Caribbean                  432.156392
                                Central America           1796.719967
                                South America             4307.640736
Northern America                Northern America          3688.675417
Oceania                         Australia & New Zealand    303.224202
                                Melanesia                  111.231072
                                Micronesia                   4.338953
                                Polynesia                    6.725537